* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', 'sans-serif';

}

body {
    color: #ededed;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: black;
    transition: transform 0.3s ease-in-out;

}

.header.hide {
    transform: translateY(-60px);
}





.logo {
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;

}

.navbar a {
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    animation-delay: calc(.2s * var(--i)); 
    transition: transform 0.3s;
}

.navbar a:hover {
    color: #0ef;
    transform: scale(1.2);
}

.home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: #000033;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;

}

.home-content {
    max-width: 600px;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;

}

.home-content h3 span {
    color: #0ef;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content p {
    font-size: 20px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
    margin: 30px 15px 30px 0;
}

.home-sci a:hover {
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}

.btn-box {
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef,
        0 0 25px #0ef
}

.btn-box:hover {
    box-shadow: 0 0 5px cyan,
        0 0 25px cyan, 0 0 50px cyan,
        0 0 100px cyan, 0 0 200px cyan
}




.connect{
    background-color: #0ef;
}


.whatsapp img{
    display: flex;
    position: fixed;
    width: 70px;
    height: 40px;
    max-width: 100%;
    max-height: 100%;
    bottom: 50px;
    right: 50px;
    justify-content: center;
    align-items: center;
    margin: 10px;
    z-index: 1;
}

.gmail img{
    display: flex;
    position: fixed;
    width: 70px;
    height: 40px;
    max-width: 100%;
    max-height: 100%;
    bottom: 50px;
    right: 100px;
    justify-content: center;
    align-items: center;
    margin: 10px;
    z-index: 1;
}

.gmail img:hover , .whatsapp img:hover{
    cursor: pointer;
}


@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;

    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;

    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(-100px);
        opacity: 0;

    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;

    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}


/* skills section  */
.container{
    justify-content: center;
    align-items: center;
    padding: 60px;
}

.skills-sec ul  {
    background-color: #0ef;
    color: #000033;
    font-display: center;
    justify-content: center;
    align-items: center;
    padding: 8px;
    text-align: center;
    
}




/* tables section  */

.education{
    margin: 70px;
    padding: 60px;  
}

table {
    border-collapse: collapse;
    width: 100%;
    background: #0ef;
  }

  td {
    border: 5px solid;
    padding: 8px;
    text-align: center;
    color: #000033;
    
  }

/* contact me page */

body {
	background-color: #000033;
}

.contact-box {
	width: 500px;
	background-color: #0ef;
	color: #000;
	margin: 100px auto;
	padding: 20px;
	border-radius: 25px;
	box-shadow: 0px 0px 10px #000;
}

.contact-box h2 {
	text-align: center;
}

form {
	display: flex;
	flex-direction: column;
}

input[type="text"],
input[type="email"],
textarea {
	margin: 10px 0px;
	padding: 10px;
	border-radius: 5px;
	border: none;
}

textarea {
	height: 150px;
	resize: none;
}

input[type="submit"] {
	margin: 10px 0px;
	padding: 10px;
	border-radius: 5px;
	border: none;
	background-color: #4caf50;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: #3e8e41;
}

input[type="submit"]:active {
	background-color: #3e8e41;
	transform: translateY(2px);
}

::placeholder {
	color: #ccc;
}

@media only screen and (max-width: 600px) {
	.contact-box {
		width: 90%;
	}
}

.spacer{
    height: 100vh;
}